@use '../main.scss' as *;

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--header-color);
  padding-inline: inner-padding(1);
  padding-block: inner-padding(0.5);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;

  &__logo {
    border-radius: 100%;
    max-height: 100px;
    width: auto;
    transition: all 0.5s ease;
    animation: header__logo 3s ease-in-out infinite alternate;

    @keyframes header__logo {
      from {
        rotate: 5deg;
      }
      to {
        rotate: -5deg;
      }
    }

    @media (max-width: 768px) {
      max-height: 75px;
      width: auto;
    }

    &:hover {
      box-shadow: 0px 5px 15px 0 var(--shadow);
    }
  }

  &__title {
    font-size: var(--header-font-size-lg);
    color: white;
    font-weight: 200;
    margin: 0;
    transition: all 1s ease;

    @media (max-width: 768px) {
      font-size: var(--header-font-size-sm);
    }

    &:hover {
      transform: translateY(-5px);
      text-shadow: 0px 3px 2px var(--shadow);
    }
  }
}
