:root {
  --main-color: #d5d5d5;
  --header-color: #000000;
  --footer-color: #000000;
  --normal-font-size: 18px;
  --title-font-size: 36px;
  --header-font-size-lg: 42px;
  --header-font-size-sm: 38px;
  --block-title-font-size: 50px;
  --border: 1rem;
}

@function inner-padding($val) {
  @return #{$val * 2}rem;
}

body {
  font-family: 'Nata Sans', sans-serif;
  font-size: var(--normal-font-size);
  min-height: 100vh;
  margin: 0;
  padding: inner-padding(0);
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--main-color);
}
